In [68]:
import pandas as pd
import glob
import os
from tqdm import tqdm
import datetime

In [2]:
# Determine text to include in 'PERSON' entity grouped df
trump = ['trump', 'donal trump', '@realdonaldtrump']
pelosi = ['pelosi', 'nancy pelosi', '@speakerpelosi']
obama = ['obama', 'barack obama', '@barackobama']
fauci = ['fauci', 'anthonyfauci']
boris = ['boris', 'boris johnson', 'johnson', '@borisjohnson']

# 'ORG' entity group text
cdc = ['cdc', 'centers for disease control', '@cdcgov']
who = ['who', '@who']
nhs = ['nhs', 'national health service', '@nhsuk']
white_house = ['whitehouse', '@whitehouse', 'white house']
congress = ['congress']
eu = ['eu', 'european union', 'european commission', '@eu_commission']

# 'GPE' entity group text
china = ['china', 'chinese']
italy = ['italy', 'italian']
spain = ['spain', 'spanish']
usa = ['usa', 'u.s.', 'america', 'united states']
nyc = ['nyc', 'new york', 'newyork']

# Some fun entities as well
football = ['nfl', 'national football league', 'football', '@nfl']
soccer = ['fifa', 'mls', '@mls', 'soccer', '@fifacom', 'premier league', '@premierleague']
baseball = ['mlb', 'baseball', '@mlb']
basketball = ['nba', 'basketball', '@nba']
hockey = ['nhl', 'hockey', '@nhl']

In [3]:
entity_list = [trump, pelosi, obama, fauci, boris, cdc, who, nhs, white_house, congress, eu, china, italy, spain,
              usa, nyc, football, soccer, baseball, basketball, hockey]

In [5]:
file_list = []

def file_grabber(directory):
    files = os.listdir(directory)
    for file in files:
        if file.endswith('.csv'):
            file = file.replace('.csv','')
            file_list.append(file)

file_grabber('data/cleaned_tweet_df/')

In [54]:
file_list

['clean_chunks_7',
 'clean_chunks_6',
 'small_tweet_set_cleaned',
 'clean_chunks_4',
 'clean_chunks_5',
 'clean_kaggle3',
 'clean_chunks_1',
 'clean_chunks_0',
 'clean_kaggle2',
 'clean_chunks_2',
 'clean_kaggle1',
 'clean_chunks_3']

## Glob together all the sets of tweet data into a single df to be analyzed

In [10]:
all_tweets = []
bad_tweet_dfs = []
for file in tqdm(glob.glob('data/cleaned_tweet_df/*')):
#    try:
    all_tweets.append(pd.read_csv(file))
#    except:
#        bad_tweet_dfs.append(file)

  0%|          | 0/11 [00:00<?, ?it/s]//anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (3,4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
 36%|â–ˆâ–ˆâ–ˆâ–‹      | 4/11 [00:24<00:42,  6.12s/it]

ParserError: Error tokenizing data. C error: Buffer overflow caught - possible malformed input file.

In [6]:
bad_tweet_dfs

['data/cleaned_tweet_df/clean_kaggle3.csv',
 'data/cleaned_tweet_df/clean_kaggle2.csv']

In [ ]:
test = pd.read_csv()

In [8]:
all_tweets

[                        created_at            id  \
 0        2020-03-16 11:22:34+00:00  1.239512e+18
 1        2020-03-16 11:50:35+00:00  1.239519e+18
 2        2020-03-16 14:51:29+00:00  1.239565e+18
 3        2020-03-17 00:25:56+00:00  1.239710e+18
 4        2020-03-18 22:18:32+00:00  1.240402e+18
 ...                            ...           ...
 3641864  2020-03-22 19:14:17+00:00  1.241805e+18
 3641865  2020-03-22 22:46:12+00:00  1.241859e+18
 3641866  2020-03-24 03:58:23+00:00  1.242300e+18
 3641867  2020-03-24 08:16:37+00:00  1.242365e+18
 3641868  2020-03-24 08:49:45+00:00  1.242373e+18

                                                  full_text  geo place lang
 0        RT @XHNews: Heal the wounded and rescue the dy...  NaN   NaN   en
 1        RT @LeftistUnity: *****CORRECTION*****\n\nCoro...  NaN   NaN   en
 2        RT @carolecadwalla: Who is the spokesman? Why ...  NaN   NaN   en
 3        RT @KTLA: Watch live: L.A. Mayor Garcetti prov...  NaN   NaN   en
 4        Love #JudiDench ðŸ§¡ #COVID19 #KeepSmiling https:...  NaN   NaN   en
 ...                                                    ...  ...   ...  ...
 3641864  @BBCNews no one has mentioned anything about t...  NaN   NaN   en
 3641865  RT @DCMS: During the coronavirus pandemic, peo...  NaN   NaN   en
 3641866   RT @LARGESSE9826: The FBI deserve no more power!  NaN   NaN   en
 3641867  RT @CalebJHull: If you watch one thing on Dems...  NaN   NaN   en
 3641868  RT @MaziIbe_: Donâ€™t pledge anything. Buy whatâ€™...  NaN   NaN   en

 [3641869 rows x 6 columns],
        Unnamed: 0           created_at                   id  \
 0               0  2020-02-28 15:44:49  1233417783175778304
 1               1  2020-02-28 15:44:40  1233417742520332290
 2               2  2020-02-28 15:44:39  1233417741027225602
 3               3  2020-02-28 15:44:29  1233417699264356357
 4               4  2020-02-28 15:44:23  1233417674274807808
 ...           ...                  ...                  ...
 33169       60154  2019-12-10 11:49:59  1204367653646848000
 33170       60156  2019-12-10 01:33:34  1204212528810729479
 33171       60157  2019-12-10 01:10:03  1204206609708331009
 33172       60158  2019-12-03 22:57:36  1201998948950577152
 33173       60159  2019-12-01 03:17:00  1200977067266990080

                                                full_text  \
 0      also the entire swiss football league is on ho...
 1      world health org official: trumpâ€™s press confe...
 2      i mean, liberals are cheer-leading this #coron...
 3      under repeated questioning, pompeo refuses to ...
 4      #coronavirus comments now from @larry_kudlow h...
 ...                                                  ...
 33169  rt @timhquotes: it's my party, you're invited!...
 33170  rt @timhquotes: it's my party, you're invited!...
 33171  it's my party, you're invited!\n\nps, this is ...
 33172  amyâ€™s a survivor! #bariclab #pnnl #movingon #c...
 33173  a review of asymptomatic and sub-clinical midd...

                                     place
 0                                     NaN
 1                      Los Angeles CA USA
 2                               Miami, FL
 3                  NYC and the North Fork
 4      James S. Brady Press Briefing Room
 ...                                   ...
 33169               The Lair of the Beast
 33170                                 NaN
 33171                    Jackson Hole, WY
 33172                     Chapel Hill, NC
 33173                                 USA

 [33174 rows x 5 columns],
                         created_at            id  \
 0        2020-03-26 02:52:40+00:00  1.243008e+18
 1        2020-03-26 09:10:44+00:00  1.243103e+18
 2        2020-03-27 09:50:44+00:00  1.243476e+18
 3        2020-03-28 06:14:13+00:00  1.243783e+18
 4        2020-03-28 07:28:57+00:00  1.243802e+18
 ...                            ...           ...
 3455271  2020-03-24 18:37:17+00:00  1.242521e+18
 3455272  2020-03-25 00:13:10+00:00  1.242605e+18
 3455273  2020-03-25 05:58:30+00:00  1.242692e+18
 3455274  2020-03-26 07:52:47+00:00  1.243083e+18
 3455275  2020-03-26 08:19:20+00:00  1.243090e+18

                                                  full_text  geo place lang
 0        RT @olgaNYC1211: Retweeting this because the a...  NaN   NaN   en
 1        The latest The News Daily! https://t.co/pod0Z9...  NaN   NaN   en
 2        RT @barstoolsports: Taylor Swift Is Sending Fa...  NaN   NaN   en
 3        @HootPhD What the hell got into her? I don't g...  NaN   NaN   en
 4        RT @DrZweliMkhize: #Lockdown Update : Transpor...  NaN   NaN   en
 ...                                                    ...  ...   ...  ...
 3455271  RT @charliekirk11: This is your daily reminder...  NaN   NaN   en
 3455272  RT @Reuters: Apple expects to start reopening ...  NaN   NaN   en
 3455273  RT @dbongino: TDS infected moron implying that...  NaN   NaN   en
 3455274  RT @jeffwellz: What I find worrying is that, e...  NaN   NaN   en
 3455275  RT @t_hicksnelson: COVID-19 is a cruel virus. ...  NaN   NaN   en

 [3455276 rows x 6 columns],
                         created_at            id  \
 0        2020-03-06 00:10:19+00:00  1.235719e+18
 1        2020-03-06 09:51:02+00:00  1.235865e+18
 2        2020-03-07 05:36:27+00:00  1.236164e+18
 3        2020-03-09 22:56:58+00:00  1.237150e+18
 4        2020-03-11 02:14:19+00:00  1.237562e+18
 ...                            ...           ...
 3453079  2020-04-02 12:33:53+00:00  1.245691e+18
 3453080  2020-04-02 16:23:34+00:00  1.245749e+18
 3453081  2020-04-02 19:44:56+00:00  1.245799e+18
 3453082  2020-04-02 19:55:40+00:00  1.245802e+18
 3453083  2020-04-03 23:24:37+00:00  1.246217e+18

                                                  full_text  geo place lang
 0        RT @JaneLytv: 5. Unfollow the twitter account ...  NaN   NaN   en
 1        RT @AliyaAlwani: Coronavirus most common sympt...  NaN   NaN   en
 2        RT @TulsiGabbard: South Korea has the ability ...  NaN   NaN   en
 3        RT @BpRobertReed: O God, protect us against th...  NaN   NaN   en
 4        RT @tastefullytayy: Coronavirus has crossed th...  NaN   NaN   en
 ...                                                    ...  ...   ...  ...
 3453079  RT @agoodfireburns: Weird right, how sending o...  NaN   NaN   en
 3453080  RT @ResourceDesk: Serbia: Other manipulation i...  NaN   NaN   en
 3453081  RT @RepRubenGallego: Tribal communities will s...  NaN   NaN   en
 3453082  RT @LulBit_ME: After COVID-19 ... i promise yâ€™...  NaN   NaN   en
 3453083  RT @weijia: Jared Kushner is in charge of the ...  NaN   NaN   en

 [3453084 rows x 6 columns],
                         created_at            id  \
 0        2020-03-26 01:09:44+00:00  1.242982e+18
 1        2020-03-26 19:32:08+00:00  1.243259e+18
 2        2020-03-26 22:28:36+00:00  1.243304e+18
 3        2020-03-29 20:42:08+00:00  1.244364e+18
 4        2020-03-30 07:04:37+00:00  1.244521e+18
 ...                            ...           ...
 3491466  2020-03-17 10:57:07+00:00  1.239868e+18
 3491467  2020-03-17 20:43:57+00:00  1.240016e+18
 3491468  2020-03-18 00:31:54+00:00  1.240073e+18
 3491469  2020-03-18 03:59:15+00:00  1.240126e+18
 3491470  2020-03-18 04:12:52+00:00  1.240129e+18

                                                  full_text  geo place lang
 0        @realDonaldTrump Georgia hospital worker with ...  NaN   NaN   en
 1        @MamataOfficial @RP_SanjivGoenka \nCant this t...  NaN   NaN   en
 2        RT @Albion_Rover: Only the @BBCNews could come...  NaN   NaN   en
 3        Jefferies Group said Chief Financial Officer P...  NaN   NaN   en
 4        The most animal unfriendly country in the worl...  NaN   NaN   en
 ...                                                    ...  ...   ...  ...
 3491466  RT @FC_Australia: FCA wish Head Coaches Ufuk T...  NaN   NaN   en
 3491467  RT @wojespn: Four Nets have tested positive fo...  NaN   NaN   en
 3491468  RT @JackMa: The first shipment of masks and co...  NaN   NaN   en
 3491469  RT @slpng_giants: If you live in Michigan and ...  NaN   NaN   en
 3491470  RT @GlennKesslerWP: This tweet was just eight ...  NaN   NaN   en

 [3491471 rows x 6 columns],
                         created_at            id  \
 0        2020-03-13 10:51:06+00:00  1.238417e+18
 1        2020-03-14 11:46:53+00:00  1.238794e+18
 2        2020-03-14 12:22:11+00:00  1.238803e+18
 3        2020-03-14 15:03:49+00:00  1.238843e+18
 4        2020-03-15 06:55:33+00:00  1.239083e+18
 ...                            ...           ...
 3550721  2020-03-16 06:45:03+00:00  1.239443e+18
 3550722  2020-03-18 04:33:05+00:00  1.240134e+18
 3550723  2020-03-18 21:47:56+00:00  1.240395e+18
 3550724  2020-03-19 09:41:13+00:00  1.240574e+18
 3550725  2020-03-19 11:53:01+00:00  1.240607e+18

                                                  full_text  geo place lang
 0        RT @AgentPjr: Something is definitely wrong. T...  NaN   NaN   en
 1        RT @WannaBeReeceJr: niggas saw that hockey cou...  NaN   NaN   en
 2        RT @ZainSugieres: the legend is back and now h...  NaN   NaN   en
 3        RT @6ixbuzztv: Canada's first COVID-19 vaccine...  NaN   NaN   en
 4        RT @knyde: Girls will survive COVID-19 bc they...  NaN   NaN   en
 ...                                                    ...  ...   ...  ...
 3550721  RT @DavidHenigUK: Written about government han...  NaN   NaN   en
 3550722  RT @ikaveri: Here's an unexpected side effect ...  NaN   NaN   en
 3550723  RT @shezALibra: This poor man is going to die ...  NaN   NaN   en
 3550724  RT @baeonda: Iâ€™m 22 years old and I tested pos...  NaN   NaN   en
 3550725  RT @News24: 6 months in jail for spreading fak...  NaN   NaN   en

 [3550726 rows x 6 columns],
                         created_at            id  \
 0        2020-03-31 11:29:06+00:00  1.244950e+18
 1        2020-04-01 07:17:21+00:00  1.245249e+18
 2        2020-04-02 05:08:20+00:00  1.245579e+18
 3        2020-04-02 16:36:55+00:00  1.245752e+18
 4        2020-04-02 21:36:25+00:00  1.245827e+18
 ...                            ...           ...
 3429984  2020-04-03 18:57:23+00:00  1.246150e+18
 3429985  2020-04-04 01:19:47+00:00  1.246246e+18
 3429986  2020-01-30 12:38:27+00:00  1.222862e+18
 3429987  2020-01-30 17:19:45+00:00  1.222932e+18
 3429988  2020-02-05 07:35:52+00:00  1.224960e+18

                                                  full_text  geo place lang
 0        RT @mikeschussler: Unemployment in Isreal shot...  NaN   NaN   en
 1        RT @ramanmann1974: What has #lockdown supposed...  NaN   NaN   en
 2        RT @RepBobGibbs: This should surprise no one. ...  NaN   NaN   en
 3        This is why we need a better solution than ind...  NaN   NaN   en
 4        But I thought Trump loved the military https:/...  NaN   NaN   en
 ...                                                    ...  ...   ...  ...
 3429984  RT @gatewaypundit: Nevada Governor Sisolak Fou...  NaN   NaN   en
 3429985  Wuhan lockdown led to dramatic cut in global s...  NaN   NaN   en
 3429986  RT @jaemrenle: LOL the 3rd coronavirus patient...  NaN   NaN   en
 3429987  RT @Miaa310: This coronavirus going round is n...  NaN   NaN   en
 3429988  BBC News - Coronavirus in Wuhan: â€˜Weâ€™d rather ...  NaN   NaN   en

 [3429989 rows x 6 columns],
          Unnamed: 0                 created_at            id  \
 0                 2  2020-03-09 00:00:00+00:00  1.236804e+18
 1                 3  2020-03-09 00:00:14+00:00  1.236804e+18
 2                 4  2020-03-09 00:00:28+00:00  1.236804e+18
 3                 5  2020-03-09 00:00:36+00:00  1.236804e+18
 4                 8  2020-03-09 00:00:42+00:00  1.236804e+18
 ...             ...                        ...           ...
 16218874   12247056  2020-03-25 23:59:58+00:00  1.242964e+18
 16218875   12247058  2020-03-25 23:59:59+00:00  1.242964e+18
 16218876   12247062  2020-03-25 23:59:59+00:00  1.242964e+18
 16218877   12247063  2020-03-25 23:59:59+00:00  1.242964e+18
 16218878   12247064  2020-03-25 23:59:59+00:00  1.242964e+18

                                                   full_text place
 0         during a health scare like the #coronavirusout...   NaN
 1         @twitter please update reporting to include fa...   NaN
 2         germ guardian pluggable air purifier &amp; san...   NaN
 3         simple math proves the chinese government is l...   NaN
 4         classes were suspended in the following cities...   NaN
 ...                                                     ...   ...
 16218874  hello, it's me... #lockdown #thequeen #primemi...   NaN
 16218875  in the beginning, many of the cases followed a...   NaN
 16218876  ava is done with the house.  she needs some fr...   NaN
 16218877  anyone else notice her timeline?\nshe tweeting...   NaN
 16218878  @middleageriot where's the priority focus by e...   NaN

 [16218879 rows x 5 columns],
                         created_at            id  \
 0        2020-03-30 05:44:15+00:00  1.244501e+18
 1        2020-03-30 16:53:42+00:00  1.244669e+18
 2        2020-03-31 08:08:31+00:00  1.244899e+18
 3        2020-03-31 18:38:15+00:00  1.245058e+18
 4        2020-04-01 14:02:26+00:00  1.245351e+18
 ...                            ...           ...
 3429373  2020-03-26 17:06:51+00:00  1.243223e+18
 3429374  2020-03-28 00:14:26+00:00  1.243693e+18
 3429375  2020-03-29 08:38:49+00:00  1.244182e+18
 3429376  2020-03-29 21:14:31+00:00  1.244372e+18
 3429377  2020-03-29 23:49:10+00:00  1.244411e+18

                                                  full_text  geo  \
 0        Italy is Lying About Their Coronavirus Death N...  NaN
 1        RT @David_Moscrop: This is like me and my neig...  NaN
 2        RT @ANI: Congress MLA from Arunachal Pradesh, ...  NaN
 3                Of course he did. https://t.co/E6xp8cql7f  NaN
 4        Leftists are attention whores, especially cele...  NaN
 ...                                                    ...  ...
 3429373  RT @HeidiNBC: Ab 16% of Ohioâ€™s coronavirus cas...  NaN
 3429374  @HVlovespolitics @sciencechick1 @funder Of cou...  NaN
 3429375  RT @ANI: A 40-year old #Coronavirus patient ha...  NaN
 3429376  RT @PremiumTimesng: JUST IN: Nigeria confirms ...  NaN
 3429377  RT @szirinsky: It is with profound sadness tha...  NaN

                                                      place lang
 0                                                      NaN   en
 1                                                      NaN   en
 2                                                      NaN   en
 3                                                      NaN   en
 4        {'id': '1c67f9d9cbae7f69', 'url': 'https://api...   en
 ...                                                    ...  ...
 3429373                                                NaN   en
 3429374                                                NaN   en
 3429375                                                NaN   en
 3429376                                                NaN   en
 3429377                                                NaN   en

 [3429378 rows x 6 columns]]

In [7]:
all_tweets.shape

AttributeError: 'list' object has no attribute 'shape'

In [ ]:
all_tweets.head()

In [51]:
def entity_sorter(file):
    df = pd.read_pickle('data/cleaned_tweet_df/'+file+'.csv')
    for ent in tqdm(entity_list):
        ent_df = df[df['full_text'].str.contains('|'.join(ent), na=False)]
        ent_df.to_pickle('data/ent_dfs/'+str(ent[0])+'/'+str(file)+'_'+str(ent[0])+'.csv')

In [38]:
file_list

NameError: name 'file_list' is not defined

In [39]:
entity_sorter('small_tweet_set_cleaned')

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 21/21 [00:01<00:00, 16.22it/s]

In [43]:
entity_sorter('clean_chunks_7')

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 21/21 [01:30<00:00,  4.29s/it]

In [44]:
entity_sorter('clean_chunks_6')

//anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3254: DtypeWarning: Columns (3,4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 21/21 [01:30<00:00,  4.29s/it]

In [45]:
entity_sorter('clean_chunks_4')

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 21/21 [01:31<00:00,  4.35s/it]

In [46]:
entity_sorter('clean_chunks_5')

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 21/21 [01:30<00:00,  4.31s/it]

In [47]:
entity_sorter('clean_chunks_1')

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 21/21 [01:30<00:00,  4.30s/it]

In [48]:
entity_sorter('clean_chunks_0')

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 21/21 [01:34<00:00,  4.50s/it]

In [49]:
entity_sorter('clean_chunks_2')

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 21/21 [01:29<00:00,  4.28s/it]

In [50]:
entity_sorter('clean_chunks_3')

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 21/21 [01:29<00:00,  4.24s/it]

In [52]:
entity_sorter('clean_kaggle1')

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 21/21 [03:35<00:00, 10.28s/it]

In [59]:
entity_sorter('clean_kaggle2')

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 21/21 [02:40<00:00,  7.66s/it]

In [60]:
entity_sorter('clean_kaggle3')

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 21/21 [01:51<00:00,  5.32s/it]

In [25]:
test = pd.read_csv('data/china/small_tweet_set_cleaned_china.csv')

In [26]:
test.shape

(12475, 6)

In [57]:
for file in tqdm(file_list):
    entity_sorter(file)

  0%|          | 0/12 [00:00<?, ?it/s]
  0%|          | 0/21 [00:00<?, ?it/s]
  5%|â–         | 1/21 [00:05<01:52,  5.63s/it]
 10%|â–‰         | 2/21 [00:10<01:42,  5.40s/it]
 14%|â–ˆâ–        | 3/21 [00:15<01:33,  5.21s/it]
 19%|â–ˆâ–‰        | 4/21 [00:20<01:27,  5.12s/it]
 24%|â–ˆâ–ˆâ–       | 5/21 [00:24<01:16,  4.81s/it]
 29%|â–ˆâ–ˆâ–Š       | 6/21 [00:28<01:11,  4.75s/it]
 33%|â–ˆâ–ˆâ–ˆâ–Ž      | 7/21 [00:34<01:09,  4.99s/it]
 38%|â–ˆâ–ˆâ–ˆâ–Š      | 8/21 [00:39<01:05,  5.02s/it]
 43%|â–ˆâ–ˆâ–ˆâ–ˆâ–Ž     | 9/21 [00:43<00:58,  4.85s/it]
 48%|â–ˆâ–ˆâ–ˆâ–ˆâ–Š     | 10/21 [00:45<00:43,  3.97s/it]
 52%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–    | 11/21 [00:52<00:46,  4.64s/it]
 57%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–‹    | 12/21 [00:54<00:34,  3.88s/it]
 62%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–   | 13/21 [00:56<00:27,  3.39s/it]
 67%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–‹   | 14/21 [00:58<00:21,  3.01s/it]
 71%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–  | 15/21 [01:06<00:26,  4.37s/it]
 76%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–Œ  | 16/21 [01:08<00:19,  3.88s/it]
 81%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ  | 17/21 [01:13<00:17,  4.26s/it]
 86%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–Œ | 18/21 [01:19<00:14,  4.70s/it]
 90%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ | 19/21 [01:24<00:09,  4.60s/it]
 95%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–Œ| 20/21 [01:28<00:04,  4.62s/it]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 21/21 [01:33<00:00,  4.47s/it]
  8%|â–Š         | 1/12 [01:41<18:38, 101.67s/it]//anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3254: DtypeWarning: Columns (3,4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

  0%|          | 0/21 [00:00<?, ?it/s]
  5%|â–         | 1/21 [00:05<01:49,  5.46s/it]
 10%|â–‰         | 2/21 [00:10<01:40,  5.30s/it]
 14%|â–ˆâ–        | 3/21 [00:15<01:33,  5.17s/it]
 19%|â–ˆâ–‰        | 4/21 [00:20<01:26,  5.10s/it]
 24%|â–ˆâ–ˆâ–       | 5/21 [00:24<01:16,  4.79s/it]
 29%|â–ˆâ–ˆâ–Š       | 6/21 [00:29<01:12,  4.85s/it]
 33%|â–ˆâ–ˆâ–ˆâ–Ž      | 7/21 [00:35<01:11,  5.13s/it]
 38%|â–ˆâ–ˆâ–ˆâ–Š      | 8/21 [00:40<01:06,  5.12s/it]
 43%|â–ˆâ–ˆâ–ˆâ–ˆâ–Ž     | 9/21 [00:44<00:58,  4.85s/it]
 48%|â–ˆâ–ˆâ–ˆâ–ˆâ–Š     | 10/21 [00:46<00:43,  3.98s/it]
 52%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–    | 11/21 [00:52<00:44,  4.49s/it]
 57%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–‹    | 12/21 [00:54<00:33,  3.77s/it]
 62%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–   | 13/21 [00:56<00:26,  3.29s/it]
 67%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–‹   | 14/21 [00:58<00:20,  2.90s/it]
 71%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–  | 15/21 [01:05<00:25,  4.21s/it]
 76%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–Œ  | 16/21 [01:08<00:18,  3.77s/it]
 81%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ  | 17/21 [01:13<00:16,  4.13s/it]
 86%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–Œ | 18/21 [01:18<00:13,  4.54s/it]
 90%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ | 19/21 [01:22<00:08,  4.44s/it]
 95%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–Œ| 20/21 [01:27<00:04,  4.47s/it]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 21/21 [01:32<00:00,  4.40s/it]
 17%|â–ˆâ–‹        | 2/12 [03:21<16:51, 101.19s/it]
  0%|          | 0/21 [00:00<?, ?it/s]
 10%|â–‰         | 2/21 [00:00<00:01, 11.85it/s]
 19%|â–ˆâ–‰        | 4/21 [00:00<00:01, 12.04it/s]
 29%|â–ˆâ–ˆâ–Š       | 6/21 [00:00<00:01, 12.33it/s]
 33%|â–ˆâ–ˆâ–ˆâ–Ž      | 7/21 [00:00<00:01, 11.39it/s]
 43%|â–ˆâ–ˆâ–ˆâ–ˆâ–Ž     | 9/21 [00:00<00:01, 11.99it/s]
 52%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–    | 11/21 [00:00<00:00, 12.87it/s]
 62%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–   | 13/21 [00:01<00:00, 12.67it/s]
 71%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–  | 15/21 [00:01<00:00, 12.46it/s]
 81%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ  | 17/21 [00:01<00:00, 13.40it/s]
 90%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ | 19/21 [00:01<00:00, 12.68it/s]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 21/21 [00:01<00:00, 12.63it/s]
 25%|â–ˆâ–ˆâ–Œ       | 3/12 [03:23<10:42, 71.37s/it]
  0%|          | 0/21 [00:00<?, ?it/s]
  5%|â–         | 1/21 [00:05<01:50,  5.55s/it]
 10%|â–‰         | 2/21 [00:10<01:41,  5.34s/it]
 14%|â–ˆâ–        | 3/21 [00:15<01:32,  5.14s/it]
 19%|â–ˆâ–‰        | 4/21 [00:20<01:26,  5.07s/it]
 24%|â–ˆâ–ˆâ–       | 5/21 [00:24<01:16,  4.76s/it]
 29%|â–ˆâ–ˆâ–Š       | 6/21 [00:29<01:12,  4.84s/it]
 33%|â–ˆâ–ˆâ–ˆâ–Ž      | 7/21 [00:34<01:09,  4.98s/it]
 38%|â–ˆâ–ˆâ–ˆâ–Š      | 8/21 [00:39<01:04,  4.96s/it]
 43%|â–ˆâ–ˆâ–ˆâ–ˆâ–Ž     | 9/21 [00:43<00:56,  4.75s/it]
 48%|â–ˆâ–ˆâ–ˆâ–ˆâ–Š     | 10/21 [00:45<00:42,  3.89s/it]
 52%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–    | 11/21 [00:51<00:44,  4.47s/it]
 57%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–‹    | 12/21 [00:53<00:33,  3.75s/it]
 62%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–   | 13/21 [00:55<00:26,  3.26s/it]
 67%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–‹   | 14/21 [00:57<00:20,  2.88s/it]
 71%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–  | 15/21 [01:04<00:25,  4.19s/it]
 76%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–Œ  | 16/21 [01:07<00:18,  3.80s/it]
 81%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ  | 17/21 [01:12<00:16,  4.16s/it]
 86%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–Œ | 18/21 [01:18<00:13,  4.58s/it]
 90%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ | 19/21 [01:22<00:08,  4.45s/it]
 95%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–Œ| 20/21 [01:26<00:04,  4.50s/it]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 21/21 [01:31<00:00,  4.37s/it]
 33%|â–ˆâ–ˆâ–ˆâ–Ž      | 4/12 [05:03<10:39, 79.91s/it]
  0%|          | 0/21 [00:00<?, ?it/s]
  5%|â–         | 1/21 [00:05<01:49,  5.49s/it]
 10%|â–‰         | 2/21 [00:10<01:40,  5.29s/it]
 14%|â–ˆâ–        | 3/21 [00:15<01:32,  5.13s/it]
 19%|â–ˆâ–‰        | 4/21 [00:19<01:25,  5.03s/it]
 24%|â–ˆâ–ˆâ–       | 5/21 [00:23<01:15,  4.73s/it]
 29%|â–ˆâ–ˆâ–Š       | 6/21 [00:28<01:10,  4.67s/it]
 33%|â–ˆâ–ˆâ–ˆâ–Ž      | 7/21 [00:33<01:08,  4.87s/it]
 38%|â–ˆâ–ˆâ–ˆâ–Š      | 8/21 [00:38<01:03,  4.92s/it]
 43%|â–ˆâ–ˆâ–ˆâ–ˆâ–Ž     | 9/21 [00:43<00:56,  4.71s/it]
 48%|â–ˆâ–ˆâ–ˆâ–ˆâ–Š     | 10/21 [00:44<00:42,  3.86s/it]
 52%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–    | 11/21 [00:50<00:44,  4.43s/it]
 57%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–‹    | 12/21 [00:52<00:33,  3.71s/it]
 62%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–   | 13/21 [00:54<00:26,  3.26s/it]
 67%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–‹   | 14/21 [00:56<00:20,  2.88s/it]
 71%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–  | 15/21 [01:04<00:25,  4.22s/it]
 76%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–Œ  | 16/21 [01:07<00:19,  3.82s/it]
 81%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ  | 17/21 [01:12<00:16,  4.18s/it]
 86%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–Œ | 18/21 [01:17<00:13,  4.60s/it]
 90%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ | 19/21 [01:21<00:08,  4.48s/it]
 95%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–Œ| 20/21 [01:26<00:04,  4.51s/it]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 21/21 [01:31<00:00,  4.36s/it]
 42%|â–ˆâ–ˆâ–ˆâ–ˆâ–     | 5/12 [06:42<09:23, 80.50s/it]

ParserError: Error tokenizing data. C error: Buffer overflow caught - possible malformed input file.

In [20]:
ent_folders = []

def folder_grabber(directory):
    folders = os.listdir(directory)
    for folder in folders:
        #folder = str(folder.replace('.csv','')
        ent_folders.append(folder)

folder_grabber('data/ent_dfs/')

In [21]:
ent_folders

['usa',
 'cdc',
 '.DS_Store',
 'nba',
 'spain',
 'nhs',
 'fauci',
 'boris',
 'china',
 'who',
 'nfl',
 'italy',
 'fifa',
 'obama',
 'whitehouse',
 'nhl',
 'eu',
 'congress',
 'trump',
 'mlb',
 'nyc',
 'pelosi']

In [109]:
def ent_df_joiner(file_list):
    df = pd.concat(file_list, ignore_index=True)
    df = df[['created_at', 'id', 'full_text', 'place']]
    df.created_at = pd.to_datetime(df.created_at, utc=True)
    df['month'] = df.created_at.dt.month
    return df

In [111]:
china_df = []

for file in tqdm(glob.glob('data/ent_dfs/china/*')):
    china_df.append(pd.read_pickle(file))

china_df = ent_df_joiner(china_df)

china_df.to_pickle('data/joined_ent_df.csv')

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 12/12 [00:00<00:00, 30.32it/s]

In [ ]:
for folder in ent_folders:
    list_name = str(folder)+'_df'

In [63]:
trump_df = []
bad_trump_df = []
for file in tqdm(glob.glob('data/ent_dfs/trump/*')):
    try:
        trump_df.append(pd.read_pickle(file))
    except:
        bad_trump_df.append(file)

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 12/12 [00:01<00:00,  7.10it/s]

In [65]:
bad_trump_df

[]

In [108]:
ent_df_joiner(trump_df)
#china_df.to_pickle('data/joined_ent_df/china_df.csv')

TypeError: eval() arg 1 must be a string, bytes or code object

In [112]:
china_test = pd.read_pickle('data/joined_ent_df/china_df.csv')

In [113]:
china_test.head()

,created_at,id,full_text,place,month
0,2020-04-05 00:00:08+00:00,1246588394622287872,"during q1, the #coronavirus brought parts of c...",NaN,4
1,2020-04-05 00:00:23+00:00,1246588458002452480,na china chop meat\nbut na we de wash hand \ni...,NaN,4
2,2020-04-05 00:00:36+00:00,1246588512369074176,@rbsw @dwnews @bonnieglaser @dktatlow #coronav...,NaN,4
3,2020-04-05 00:00:37+00:00,1246588516173111296,@monachareneppc yeah it is definitely chinaâ€™s ...,NaN,4
4,2020-04-05 00:00:45+00:00,1246588550881165312,"@ddgaddis saluti, you can read it here: @johnb...",NaN,4

In [114]:
china_test.shape

(699359, 5)

In [78]:
china_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699359 entries, 0 to 699358
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   created_at  699359 non-null  object
 1   id          699359 non-null  object
 2   full_text   699359 non-null  object
 3   place       26459 non-null   object
dtypes: object(4)
memory usage: 21.3+ MB

In [79]:
china_test['id'] = china_test.id.astype('int64')

In [80]:
china_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699359 entries, 0 to 699358
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   created_at  699359 non-null  object
 1   id          699359 non-null  int64
 2   full_text   699359 non-null  object
 3   place       26459 non-null   object
dtypes: int64(1), object(3)
memory usage: 21.3+ MB

In [94]:
china_test['created_at'] = pd.to_datetime(china_test.created_at, utc=True)

In [88]:
small_test = china_test[1800:1900]

In [89]:
small_test.shape

(100, 4)

In [90]:
small_test['created_at'] = pd.to_datetime(small_test.created_at)

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [91]:
small_test.head()

,created_at,id,full_text,place
1800,2020-04-05 05:38:05+00:00,1246673443170508805,don't know why but #covid_19 seems the end of ...,NaN
1801,2020-04-05 05:38:27+00:00,1246673535151427584,"430,000 people arrived in the usa from china a...",NaN
1802,2020-04-05 05:38:28+00:00,1246673540008443904,"#coronavirus worldwide: \nus: 311,600\nspain: ...",NaN
1803,2020-04-05 05:38:35+00:00,1246673570027261952,#covid19 \n#italy's #cat #test is #negative ev...,NaN
1804,2020-04-05 05:39:01+00:00,1246673679326429186,"mainland china has now reported a total of 81,...",NaN

In [95]:
china_test.head()

,created_at,id,full_text,place
0,2020-04-05 00:00:08+00:00,1246588394622287872,"during q1, the #coronavirus brought parts of c...",NaN
1,2020-04-05 00:00:23+00:00,1246588458002452480,na china chop meat\nbut na we de wash hand \ni...,NaN
2,2020-04-05 00:00:36+00:00,1246588512369074176,@rbsw @dwnews @bonnieglaser @dktatlow #coronav...,NaN
3,2020-04-05 00:00:37+00:00,1246588516173111296,@monachareneppc yeah it is definitely chinaâ€™s ...,NaN
4,2020-04-05 00:00:45+00:00,1246588550881165312,"@ddgaddis saluti, you can read it here: @johnb...",NaN