In [1]:
import pandas as pd
import spacy

In [2]:
tweets = pd.read_csv('data/full_dataset.tsv', chunksize = 1000)

In [3]:
next(tweets)

                          tweet_id\tdate\ttime
0    1212360731695427584\t2020-01-01\t13:11:37
1    1213249613735460865\t2020-01-04\t00:03:43
2    1213330173736738817\t2020-01-04\t05:23:50
3    1213872115570630656\t2020-01-05\t17:17:19
4    1214195710301618178\t2020-01-06\t14:43:10
..                                         ...
995  1219412807948677120\t2020-01-21\t00:14:03
996  1219413059585761280\t2020-01-21\t00:15:03
997  1219413109929996289\t2020-01-21\t00:15:15
998  1219413265102577664\t2020-01-21\t00:15:52
999  1219413575485157376\t2020-01-21\t00:17:06

[1000 rows x 1 columns]

In [4]:
tweets2 = pd.read_csv('data/COVID-19/COVID.csv')

In [5]:
tweets2.head()

,Tweet Id,Tweet URL,Tweet Posted Time (UTC),Tweet Content,Tweet Type,Client,Retweets Received,Likes Received,Tweet Location,Lat,...,User Id,Name,Screen Name,User Bio,Verified or Non-Verified,Profile URL,Protected or Non-protected,User Followers,User Following,User Account Creation Date
0,"""1233417783175778304""",https://twitter.com/Giussi92/status/1233417783...,28 Feb 2020 15:44:49,Also the entire Swiss Football League is on ho...,Tweet,Twitter for iPhone,0,0,NaN,NaN,...,"""1556856595""",Giuseppe Gentile,Giussi92,NaN,Verified,https://twitter.com/Giussi92,Non-Protected,3071,100,30 Jun 2013 00:27:50
1,"""1233417742520332290""",https://twitter.com/LAMofficial/status/1233417...,28 Feb 2020 15:44:40,World Health Org Official: Trump’s press confe...,Tweet,Twitter Web App,0,0,Los Angeles CA USA,NaN,...,"""113738369""",London After Midnight,LAMofficial,London After Midnight is a music project by wr...,Verified,https://twitter.com/LAMofficial,Non-Protected,4189,84,12 Feb 2010 21:43:17
2,"""1233417741027225602""",https://twitter.com/mitchellvii/status/1233417...,28 Feb 2020 15:44:39,"I mean, Liberals are cheer-leading this #Coron...",Tweet,Twitter Web App,23,64,"Miami, FL",NaN,...,"""17980523""",Bill Mitchell,mitchellvii,Host of YourVoice™ America at http://yourvoice...,Verified,https://twitter.com/mitchellvii,Non-Protected,534045,10037,09 Dec 2008 01:54:21
3,"""1233417699264356357""",https://twitter.com/HelenKennedy/status/123341...,28 Feb 2020 15:44:29,"Under repeated questioning, Pompeo refuses to ...",Tweet,Twitter for iPhone,4,11,NYC and the North Fork,NaN,...,"""2199541""",Helen Kennedy,HelenKennedy,Newspaperman (ex NY Daily News &amp; Boston He...,Verified,https://twitter.com/HelenKennedy,Non-Protected,27704,1060,25 Mar 2007 19:14:46
4,"""1233417674274807808""",https://twitter.com/W7VOA/status/1233417674274...,28 Feb 2020 15:44:23,#coronavirus comments now from @larry_kudlow h...,Tweet,Twitter for iPhone,0,0,James S. Brady Press Briefing Room,NaN,...,"""17919393""",Steve Herman,W7VOA,@WhiteHouse bureau chief @VOANews. Member: @aa...,Verified,https://twitter.com/W7VOA,Non-Protected,94269,1999,06 Dec 2008 08:56:45

In [6]:
test = tweets2.iloc[1,3]

In [7]:
test

'World Health Org Official: Trump’s press conference on #coronavirus ‘incoherent’\nWorld Health Organization Special Adviser to the Director Dr. Ezekiel Emanuel says "I found most of what [Trump] said incoherent."\nhttps://t.co/v4WIBW9Fld'

In [9]:
nlp = spacy.load('en_core_web_md')

In [10]:
 # Process a text
doc = nlp(test) # Iterate over the predicted entities
for ent in doc.ents:
    # Print the entity text and its label
    print(ent.text, ent.label_)

Trump ORG
# CARDINAL
World Health Organization Special Adviser ORG
Ezekiel Emanuel PERSON
Trump ORG

In [11]:
print('Text: ', [token.text for token in doc])

Text:  ['World', 'Health', 'Org', 'Official', ':', 'Trump', '’s', 'press', 'conference', 'on', '#', 'coronavirus', '‘', 'incoherent', '’', '\n', 'World', 'Health', 'Organization', 'Special', 'Adviser', 'to', 'the', 'Director', 'Dr.', 'Ezekiel', 'Emanuel', 'says', '"', 'I', 'found', 'most', 'of', 'what', '[', 'Trump', ']', 'said', 'incoherent', '.', '"', '\n', 'https://t.co/v4WIBW9Fld']

In [16]:
test2 = tweets2.iloc[5,3]

In [17]:
test2

'"Are you going to see some schools shut down? Probably."\n\nWhite House Chief of Staff Mick Mulvaney warned that the #coronavirus could disrupt U.S. schools as districts prepare their emergency plans https://t.co/qADzyHNG4L'

In [18]:
 # Process a text
doc = nlp(test2) # Iterate over the predicted entities
for ent in doc.ents:
    # Print the entity text and its label
    print(ent.text, ent.label_)

White House ORG
Mick Mulvaney PERSON
U.S. GPE

In [19]:
kaggle_tweets = pd.read_csv('coronavirus-covid19-tweets/2020-03-12 Coronavirus Tweets.CSV')

In [21]:
kaggle_tweets.tail()

,status_id,user_id,created_at,screen_name,text,source,reply_to_status_id,reply_to_user_id,reply_to_screen_name,is_quote,...,retweet_count,country_code,place_full_name,place_type,followers_count,friends_count,account_lang,account_created_at,verified,lang
497257,1238253435092434944,626613212,2020-03-12T23:59:59Z,sarasklenks,Coming to you live from the Target pain relief...,Twitter for iPhone,NaN,NaN,NaN,False,...,1,NaN,NaN,NaN,144,339,NaN,2012-07-04T17:08:04Z,False,en
497258,1238253435247616000,103530420,2020-03-12T23:59:59Z,sneha_jha,Disgusting how companies like @YatraOfficial a...,Twitter Web App,NaN,NaN,NaN,False,...,0,NaN,NaN,NaN,51,9,NaN,2010-01-10T09:39:00Z,False,en
497259,1238253435566329857,227654291,2020-03-12T23:59:59Z,christcout,Mourir le cul propre. #coronavirus,Twitter for iPhone,NaN,NaN,NaN,False,...,0,NaN,NaN,NaN,38,163,NaN,2010-12-17T12:35:02Z,False,fr
497260,1238253437332213760,1360422710,2020-03-12T23:59:59Z,CICsal,Debido al reciente escalamiento del #COVID19 #...,TweetDeck,NaN,NaN,NaN,False,...,0,NaN,NaN,NaN,34049,539,NaN,2013-04-17T21:42:32Z,True,es
497261,1238253438217175041,910318667929448449,2020-03-12T23:59:59Z,Amir_alahsaas,لا تضحـك لغيــري ترى القلـب يرتاع\nاغــار ح...,Twitter for Android,NaN,NaN,NaN,False,...,0,NaN,NaN,NaN,344,586,NaN,2017-09-20T01:44:18Z,False,ar

In [22]:
kaggle_tweets.shape

(497262, 22)

In [23]:
#Extracting entity type from the dataframe
def extract_named_ents(text):
    for ent in nlp(text).ents:
        return(ent.text)
#creating new column for the clean issuer
def add_named_ents(df):
    tweets2['entities'] = tweets2['Tweet Content'].apply(extract_named_ents).str.strip("''").str.upper()

In [ ]:
#applying function
add_named_ents(tweets2)